{% extends "base.html" %}
{% block subnavlinks %}
{{ navlink(subnav, "quotes", "#") }}
{{ navlink(subnav, "lorum", "#") }}
{{ navlink(subnav, "ipsum", "#") }}
{% endblock %}
{% block content %}
<div id="heading"><div>Heading</div></div>
<div class="rows">
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
</div>
<div class="rows col2">
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
</div>
<div class="rows col3">
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
</div>
<div class="rows col4">
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
</div>
<div class="rows col5">
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
</div>
<div class="rows col6">
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
    <div><div>START</div><div>TEST</div><div>END</div></div>
</div>
<!-- Emmet Abbr. -->
<!-- p.item${TEST}*100 -->
<p class="item1">TEST</p>
<p class="item2">TEST</p>
<p class="item3">TEST</p>
<p class="item4" data-direction="left">TEST</p>
<p class="item5">TEST</p>
<p class="item6">TEST</p>
<p class="item7">TEST</p>
<p class="item8" data-content="@">TEST</p>
{% endblock %}